html {
    font-size: 20px;
}

main {
	counter-reset: img-count;/*numeric image*/
}

/* FIGURE */
figcaption:before {
	content: "Рис. " counter(img-count) " ";
	counter-increment: img-count;
}
/* *FIGURE*/