<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хлеб</title>

    <link rel="stylesheet" href="template.css">
</head>
<body>
    <div id="header">
        <header>
            <img class="logo" src="img/logo.png">
        </header>

        <nav id="menu">
            <ul>
                <li class="menu-item">Главная</li>
                <li class="menu-item">О нас</li>
                <li class="menu-item">Заказать</li>
                <li class="menu-item">Товар</li>
                <li class="menu-item">Доставка</li>
            </ul>
        </nav>
    </div>
<main>
    <div class="slider">
        <figure class="slide">
            <img src="img/slider.jpg">
            <figcaption>Великолепный хлеб высокого качества</figcaption>
        </figure>        
    </div>

    <section id="products">
        <h2>Наш хлеб</h2>

        <div class="product">
            <figure>
                <img src="img/bread1.jpg">
            </figure>

            <article>
                <h3>Батон нарезной</h3>
                <p>Хлебобулочное изделие типа батона нарезного, выполнено в виде объемного тела продолговатой формы, с округленными тупыми или острыми концами массой 0,400-0,510 кг, длиной 25-31 см, шириной 9-13 см и косыми надрезами на верхней поверхности. Выпечено из тестовой заготовки, приготовленной с использованием муки пшеничной хлебопекарной, дрожжей хлебопекарных прессованных, соли поваренной пищевой, сахара-песка, жиросодержащего компонента.</p>
            </article> 

            <div class="btn">
                <a href="" class="buy">Купить</a>
            </div>            
        </div>

        <div class="product">
            <figure>
                <img src="img/bread2.jpg">
            </figure>

            <article>
                <h3>Cолодовый с изюмом</h3>
                <p>Популярный ржаной хлеб по рецепту из Швеции – с изюмом, семенами тмина, кумина и фенхеля. Ароматный и достаточно плотный, с солодовым привкусом, шведский хлеб по этому рецепту идеален для бутербродов с маслом, творожным сыром и к супам. </p>
            </article> 

            <div class="btn">
                <a href="" class="buy">Купить</a>
            </div>   
        </div>

        <div class="product">
            <figure>
                <img src="img/bread3.jpg">
            </figure>

            <article>
                <h3>4 злака</h3>
                <p>Пшеничный хлеб с воздушным мякишем и нежной текстурой, с добавлением овсяных хлопьев, семян кунжута, льна и подсолнечника. Невероятно вкусная и полезная коврига, изготовленная из цельных зерен злаков, предварительно не измельченных в муку. При употреблении такого необычного хлеба организм насыщается витаминами А, В, Е, РР и такими минеральными веществами, как К, Na и P.</p>
            </article> 
            
            <div class="btn">
                <a href="" class="buy">Купить</a>
            </div> 
        </div>

        <div class="product">
            <figure>
                <img src="img/bread4.jpg">
            </figure>

            <article>
                <h3>Французская булка</h3>
                <p>Французская булка - именно так называется пшеничный хлеб по этому рецепту. Пекари называют его еще просто французом. Тем, кто любит белый хлеб, этот вариант рецепта подойдет лучше всего. Как обычно, сначала я пишу рецепт для хлеба на закваске, ниже - на дрожжах.</p>
            </article> 
            
            <div class="btn">
                <a href="" class="buy">Купить</a>
            </div> 
        </div>

        <div class="product">
            <figure>
                <img src="img/bread5.jpg">
            </figure>

            <article>
                <h3>Тостовый хлеб</h3>
                <p>Тостовый хлеб, как можно понять из названия, служит для приготовления тостов. Это белый пористый хлеб, у которого тонкая корочка — он в основном продается уже порезанным на отдельные ломтики стандартной формы и в специальной упаковке.</p>
            </article> 
            
            <div class="btn">
                <a href="" class="buy">Купить</a>
            </div> 
        </div>

        <div class="product">
            <figure>
                <img src="img/bread6.jpg">
            </figure>

            <article>
                <h3>Бородинский хлеб</h3>
                <p>Бородинский хлеб — сорт ржаного хлеба. В состав теста, помимо обойной или обдирной ржаной муки, небольшого количества пшеничной муки низких сортов, закваски, соли, входит ржаной солод, сахар, патока и кориандр. Приготавливается опарным способом с использованием заварки. Может выпекаться как подовый, так и формовой хлеб. </p>
            </article>  
            
            <div class="btn">
                <a href="" class="buy">Купить</a>
            </div> 
        </div>
    </section>

    
</main>  
</body>
</html>