main {
	width: 600px;
	height: auto;
	margin: auto;
	padding: 10px;
	/*background-color: hsl(60, 100%, 70%);*/
}

section {
	margin: auto;
	padding: 10px;
	/*background-color: hsl(180, 80%, 50%);*/
}

article {
	margin: 10px auto;
	padding: 10px;
	border: thin solid black;
	/*background-color: hsl(30, 100%, 50%);*/
}

article p {
	color: #f0b;
}

/* BLOCKQUOTE */
blockquote {
	border-left: 4px solid #bbb;
	padding-left: 10px;
}
/* *BLOCKQUOTE*/
