html {
	font-size: 20px;
}

body {
	counter-reset: table-count; /* for table caption*/
}

main {
	counter-reset: img-count;/*numeric image*/
}

nav ol li{
	padding-top: 0.5rem;
}

h2 {
	border-bottom: thin solid #000;
}

p {
	text-align: justify;
	text-indent: 1.5rem;
}

dl {
	column-count: 2;
}

/* FIGURE */
figure {
	margin: auto;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
}

figcaption {
	color: #666;
	/*text-transform: uppercase;*/
}

figcaption:before {
	content: "Рис. " counter(img-count) " ";
	counter-increment: img-count;
}
/* *FIGURE*/

/* PRE */
pre {
	background-color: #f8f7f7;
	color: #333;
	border: thin solid #e9e8e8;
	border-radius: 3px;
	padding: 10px 20px;
}

pre .property {
	color: #e6550d;
}

pre .unit {
	color: #31a354;
}

pre .comment {
	color: #a9a9a9;
}

pre .tag {
	color: #d20962;
}

pre .attr{
	color: #de9000;
}

pre .val {
	color: #00a4e4;
}
/* *PRE */

/* BLOCKQUOTE */
blockquote {
	border-left: 4px solid #bbb;
	padding-left: 10px;
}
/* *BLOCKQUOTE*/


/* BLOCKQUOTE */
blockquote {
	border-left: 4px solid #bbb;
	padding-left: 10px;
}

blockquote.old , blockquote.error{
	background-color: rgba(255, 0,0, 0.3);
	border-left: 4px solid #f00;
	padding: 5px;
}

blockquote.warn {
	background-color: rgba(255, 185,0, 0.3);
	border-left: 4px solid #ffb900;
	padding: 5px 5px 5px 15px;
}

blockquote.info {
	background-color: rgba(127,187,0, 0.3);
	border-left: 4px solid #7fbb00;
	padding: 5px 5px 5px 15px;
	margin-top: 40px;
}

/* *BLOCKQUOTE*/

/* TABLE TABLE_PHP */
.table-php th {
	background-color: #c4c9df;
	text-align: center;
}

.table-php tr td:first-child{ font-family: monospace; }

.table-php tr:hover { background-color: #eee; }
/* *TABLE TABLE_PHP */

/* EXAMPLE */

#trans1, #trans2 {
	width: 100px;
	height: 100px;
	display: inline-block;
}

#trans1 {
	border: thin solid #333;
	background-color: #000;
	border-radius: 10px;
	transition-property: all;
}

#trans1:hover {
	background-color: #fff;
	border-radius: 50%;
}

#trans2 {
	border: thin solid #333;
	background-color: #000;
	border-radius: 10px;
	transition-property: all;
	transition-duration: 0.8s;
	background-image: url("img/user.png");
}

#trans2:hover {
	background-color: #fff;
	border-radius: 50%;
}

#transFig, #transFig img {
	width: auto;
	height: auto;
}

#transFig {
	display: inline-block;
	margin: 0px 20px;
	vertical-align: middle;
	opacity: 0.6;
}

#transFig  {	
	transition-property: all;
	transition-duration: .95s;
}

#transFig figcaption {
	transition-property: all;
	transition-duration: .5s;
}

#transFig:hover {
	opacity: 1;
	border: thin solid #000;
}

#transFig:hover > figcaption {
	color: #000;
}

#timeFunction {
	width: 80%;
	margin: auto;
}

#timeFunction a {
	display: inline-block;
	margin: 20px;
	padding: 10px;
	text-decoration: none;
	color: #444;
	font-weight: 600;
	font-family: monospace;
	font-size: 1.2rem;
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.8);
}

#timeFunction p {
	width: 200px;
	height: 64px;
	border: thin solid #000;
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	transform: none; /* */
	transition-property: transform; /* or ALL*/
	transition-duration: 3s;
}

#timeFunction p:nth-of-type(1) {
	transition-timing-function: linear;
	background-color: #f7c8c9;
}

#timeFunction p:nth-of-type(2) {
	transition-timing-function: ease;
	background-color: #bff199;
}

#timeFunction p:nth-of-type(3) {
	transition-timing-function: ease-in;
	background-color: #a560e8;
}

#timeFunction p:nth-of-type(4) {
	transition-timing-function: ease-out;
	background-color: #81ceff;
}

#timeFunction p:nth-of-type(5) {
	transition-timing-function: ease-in-out;
	background-color: #ffc715;
}

#timeFunction p:nth-of-type(6) {
	transition-timing-function: cubic-bezier(0.390, -0.440, 0.695, 1.650);
	background-color: #e50064;
}

#start:target > p {
	transform: translateX(450px);
}

#transDelay  td{
	margin: auto;
	color: #ccc;
	background-color: #fff;
	transition-property: background-color;
	transition-duration: .5s;
	transition-timing-function: ease;
}

#transDelay:hover td {
	background-color: #00a100;
}
/* ***EXAMPLE */