@page {
	margin: 250px;
}

@page :first{
	margin: 0;
}

@page :left {
	margin-right: 50px;
}

@page :right {
	margin-left: 50px;
}

main {
	width: 600px;
	height: auto;
	margin: auto;
	padding: 10px;
	/*background-color: hsl(60, 100%, 70%);*/
}

