html {
	font-size: 20px;		/* установив размер шрифта для всего документа можно использлвать - REM */
	font-family: Helvetica; /* для красоты назначем другой шрифт */
}

header {
	background-color: #c4dff6;
}

footer {
	background-color: #d20962;
}

main {
	background-color: #c1d82f;
}

/* NAV */

nav ul li {
	display: inline-block;	/* вкл/выкл свойтсво в браузере для эксперимента */
}

nav a {
	display: block;		/* теперь все ссылки в меню блочные */
	padding: 2rem 2rem; /* если ссылка не отображается как блочный элмент - то не все отступы сработают */
	text-decoration: none; /* убрать подчёркивание */
	color: #000; 		   /* вместо синего цвета как у всех ссылок - сделаем название меню черным */
}

/* небольшая реакция на действия пользователя */
nav a:hover {
	background-color: #56a0d3;	/* при наведению на любую из ссылок меню бужет меняться цвет фона под ней */
}

/* *NAV */

